In [1]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn import linear_model,feature_selection,preprocessing
from statsmodels.tools.eval_measures import mse
from statsmodels.tools.tools import add_constant
from sklearn.metrics import mean_squared_error
from statsmodels.tools.eval_measures import rmse
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.metrics import mean_absolute_percentage_error

import seaborn as sns
import matplotlib.pyplot as plt

from matplotlib.ticker import StrMethodFormatter
import scipy as imposp
from scipy import stats
import plotly.offline as po
import plotly.graph_objs as go
from numpy import median
from matplotlib.ticker import ScalarFormatter
from matplotlib.ticker import FormatStrFormatter

In [2]:
df=pd.read_csv('philly.csv')

In [3]:
df.shape

(506, 93)

In [4]:
df.head()

,livingAreaValue,zipcode,bathrooms,bedrooms,annualHomeownersInsurance,yearBuilt,resoFacts.yearBuiltEffective,price,monthlyHoaFee,solarPotential.sunScore,...,health_uninsured,veteran,resoFacts.architecturalStyle,resoFacts.subdivisionName,resoFacts.propertyCondition,State,citylabel_Philadelphia,income_household_median_bin_0-100k,income_household_median_bin_100k-200k,income_household_median_bin_200k-250k
0,943,19130,2,2,1155,1900.0,2018.8,275000,148,88.830,...,4.1,3.1,Unknown,Fairmount,Unknown,Pennsylvania,1,1,0,0
1,1230,19131,2,2,441,1960.0,2015.2,105000,893,66.460,...,7.3,5.7,Contemporary,Park Plaza,Unknown,Pennsylvania,1,1,0,0
2,746,19103,1,1,1155,1900.0,2004.0,275000,253,93.630,...,2.3,4.3,Straight Thru,Rittenhouse Square,Unknown,Pennsylvania,1,1,0,0
3,799,19106,1,1,1214,1880.0,2007.8,289000,465,91.890,...,3.5,3.0,Contemporary,Old City,Unknown,Pennsylvania,1,0,1,0
4,660,19106,1,1,1092,1900.0,2005.8,260000,213,87.008,...,3.5,3.0,Loft,Old City,Unknown,Pennsylvania,1,0,1,0

In [5]:
df['bathroom_bins']=pd.cut(df.bathrooms,bins = [0,1,2,3,4,5,6,12],labels=['1','2','3','4','5','6','6+'])
df['bedroom_bins']=pd.cut(df.bedrooms,bins = [0,1,2,3,4,5,6,8],labels=['1','2','3','4','5','6','6+'])
df['yearBuilt_bin']=pd.cut(df.yearBuilt,bins = [0,1980,2023],labels=['Pre-1980s','1980s+'])
#One hot encoding
df=pd.get_dummies(df, columns=['bathroom_bins','bedroom_bins','yearBuilt_bin','resoFacts.subdivisionName'
                              ])#, drop_first=True)

In [6]:
x=df.drop(['annualHomeownersInsurance','resoFacts.architecturalStyle',     
 'State','resoFacts.yearBuiltEffective','price','solarPotential.sunScore',
'resoFacts.hasGarage','resoFacts.hasView','resoFacts.isNewConstruction',
'resoFacts.taxAnnualAmount','listed_by.rating_average','resoFacts.pricePerSquareFoot',
'mortgage','population','age_under_10',
'age_10_to_19','age_20s','age_30s','age_40s','age_50s',
'age_60s','age_70s','age_over_80','male','female','divorced','widowed',
'family_size','family_dual_income','income_household_under_5','income_household_5_to_10',
'income_household_10_to_15','income_household_15_to_20','income_household_20_to_25','income_household_25_to_35',
'income_household_35_to_50','education_less_highschool','education_highschool','education_some_college',
'education_bachelors','education_graduate','education_college_or_above','education_stem_degree',
'labor_force_participation','unemployment_rate','farmer','race_white','race_black','race_asian',
'race_native','race_pacific','race_other','race_multiple','hispanic','disabled','poverty','limited_english',
'resoFacts.bathroomsHalf','health_uninsured','veteran','citylabel_Philadelphia','income_household_median_bin_200k-250k',
'resoFacts.waterViewYN','density',
'resoFacts.hasOpenParking','income_household_six_figure','income_household_100_to_150',
'resoFacts.hasAttachedGarage','income_household_50_to_75','commute_time',
'income_household_median',
           'income_household_75_to_100','income_household_150_over','income_individual_median',
           'married','never_married','home_ownership','income_household_median_bin_0-100k',
           'income_household_median_bin_100k-200k','age_median','resoFacts.bathroomsFull','resoFacts.daysOnZillow',
           'bedroom_bins_5','bedroom_bins_6','bedroom_bins_6+','bathroom_bins_6+',
           'bathroom_bins_6','yearBuilt_bin_Pre-1980s','transitScore.transit_score','zipcode',
           'bathroom_bins_3','bathroom_bins_4','bathroom_bins_5','yearBuilt','elementary school score',
           'resoFacts.propertyCondition',
'resoFacts.subdivisionName_Brewerytown',
'resoFacts.subdivisionName_Chestnut Hill', 
'resoFacts.subdivisionName_Clarendon Court',    
'resoFacts.subdivisionName_Dockside Condominium',
'resoFacts.subdivisionName_East Kensington',
'resoFacts.subdivisionName_Fairmount', 
'resoFacts.subdivisionName_Fitler Square',
'resoFacts.subdivisionName_Francisville',         
 'resoFacts.subdivisionName_Green Tree Summit',  
'resoFacts.subdivisionName_Hawthorne',           
'resoFacts.subdivisionName_Hopkinson House',  
'resoFacts.subdivisionName_Kensington',   
 'resoFacts.subdivisionName_Loft District', 
'resoFacts.subdivisionName_Mt Airy',   
'resoFacts.subdivisionName_Mt Airy (west)', 
'resoFacts.subdivisionName_Naval Square', 
 'resoFacts.subdivisionName_Newbold',      
'resoFacts.subdivisionName_None Available',
'resoFacts.subdivisionName_Norris Square', 
 'resoFacts.subdivisionName_Old Kensington',  
'resoFacts.subdivisionName_Olde Kensington', 
'resoFacts.subdivisionName_Park Plaza',         
'resoFacts.subdivisionName_Penn Sq',
'resoFacts.subdivisionName_River Park', 
'resoFacts.subdivisionName_Roxborough',   
'resoFacts.subdivisionName_Somerton',
'resoFacts.subdivisionName_South Kensington',
'resoFacts.subdivisionName_Unknown',
'resoFacts.subdivisionName_Waterfront Square',    
'resoFacts.subdivisionName_Wynnefield Hgts'      
                                      
                                      ], axis=1)
y=df[['price']]
y.head()

    price
0  275000
1  105000
2  275000
3  289000
4  260000

In [7]:
x.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 39 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   livingAreaValue                               506 non-null    int64
 1   bathrooms                                     506 non-null    int64
 2   bedrooms                                      506 non-null    int64
 3   monthlyHoaFee                                 506 non-null    int64
 4   walkScore.walkscore                           506 non-null    int64
 5   bathroom_bins_1                               506 non-null    uint8
 6   bathroom_bins_2                               506 non-null    uint8
 7   bedroom_bins_1                                506 non-null    uint8
 8   bedroom_bins_2                                506 non-null    uint8
 9   bedroom_bins_3                                506 non-null    uint8
 10  bedroom_bins_4                                506 non-null    uint8
 11  yearBuilt_bin_1980s+                          506 non-null    uint8
 12  resoFacts.subdivisionName_Academy House       506 non-null    uint8
 13  resoFacts.subdivisionName_Art Museum          506 non-null    uint8
 14  resoFacts.subdivisionName_Art Museum (fairmo  506 non-null    uint8
 15  resoFacts.subdivisionName_Art Museum (spring  506 non-null    uint8
 16  resoFacts.subdivisionName_Art Museum Area     506 non-null    uint8
 17  resoFacts.subdivisionName_Avenue Of The Arts  506 non-null    uint8
 18  resoFacts.subdivisionName_Bella Vista         506 non-null    uint8
 19  resoFacts.subdivisionName_Center City         506 non-null    uint8
 20  resoFacts.subdivisionName_Chinatown           506 non-null    uint8
 21  resoFacts.subdivisionName_East Falls          506 non-null    uint8
 22  resoFacts.subdivisionName_Fishtown            506 non-null    uint8
 23  resoFacts.subdivisionName_Graduate Hospital   506 non-null    uint8
 24  resoFacts.subdivisionName_Logan Square        506 non-null    uint8
 25  resoFacts.subdivisionName_Northern Liberties  506 non-null    uint8
 26  resoFacts.subdivisionName_Old City            506 non-null    uint8
 27  resoFacts.subdivisionName_Olde City           506 non-null    uint8
 28  resoFacts.subdivisionName_Penns Landing       506 non-null    uint8
 29  resoFacts.subdivisionName_Phila (south)       506 non-null    uint8
 30  resoFacts.subdivisionName_Philadelphia        506 non-null    uint8
 31  resoFacts.subdivisionName_Point Breeze        506 non-null    uint8
 32  resoFacts.subdivisionName_Queen Village       506 non-null    uint8
 33  resoFacts.subdivisionName_Rittenhouse Square  506 non-null    uint8
 34  resoFacts.subdivisionName_Society Hill        506 non-null    uint8
 35  resoFacts.subdivisionName_Spring Gdn          506 non-null    uint8
 36  resoFacts.subdivisionName_Wash Sq West        506 non-null    uint8
 37  resoFacts.subdivisionName_Washington Sq       506 non-null    uint8
 38  resoFacts.subdivisionName_Washington Sq West  506 non-null    uint8
dtypes: int64(5), uint8(34)
memory usage: 36.7 KB

In [8]:
x.head()

,livingAreaValue,bathrooms,bedrooms,monthlyHoaFee,walkScore.walkscore,bathroom_bins_1,bathroom_bins_2,bedroom_bins_1,bedroom_bins_2,bedroom_bins_3,...,resoFacts.subdivisionName_Phila (south),resoFacts.subdivisionName_Philadelphia,resoFacts.subdivisionName_Point Breeze,resoFacts.subdivisionName_Queen Village,resoFacts.subdivisionName_Rittenhouse Square,resoFacts.subdivisionName_Society Hill,resoFacts.subdivisionName_Spring Gdn,resoFacts.subdivisionName_Wash Sq West,resoFacts.subdivisionName_Washington Sq,resoFacts.subdivisionName_Washington Sq West
0,943,2,2,148,96,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1230,2,2,893,48,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,746,1,1,253,99,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,799,1,1,465,98,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,660,1,1,213,99,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,random_state=42)
linearmodel1 = sm.OLS(y_train, add_constant(x_train)).fit()
print(linearmodel1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.834
Model:                            OLS   Adj. R-squared:                  0.818
Method:                 Least Squares   F-statistic:                     49.84
Date:                Mon, 13 Jun 2022   Prob (F-statistic):          3.28e-120
Time:                        17:43:43   Log-Likelihood:                -5690.4
No. Observations:                 404   AIC:                         1.146e+04
Df Residuals:                     366   BIC:                         1.161e+04
Df Model:                          37
Covariance Type:            nonrobust
================================================================================================================
                                                   coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------
const                                        -2.001e+06   3.06e+05     -6.549      0.000    -2.6e+06    -1.4e+06
livingAreaValue                                361.7586     46.709      7.745      0.000     269.907     453.610
bathrooms                                     2.898e+05   6.61e+04      4.385      0.000     1.6e+05     4.2e+05
bedrooms                                      1.117e+05   4.08e+04      2.739      0.006    3.15e+04    1.92e+05
monthlyHoaFee                                  438.3500     36.228     12.100      0.000     367.108     509.592
walkScore.walkscore                           8718.0273   2535.431      3.438      0.001    3732.187    1.37e+04
bathroom_bins_1                               6.209e+05   1.54e+05      4.032      0.000    3.18e+05    9.24e+05
bathroom_bins_2                               2.424e+05   9.28e+04      2.614      0.009       6e+04    4.25e+05
bedroom_bins_1                               -1.729e+05   5.77e+04     -2.997      0.003   -2.86e+05   -5.94e+04
bedroom_bins_2                               -2.438e+05   6.29e+04     -3.875      0.000   -3.67e+05    -1.2e+05
bedroom_bins_3                               -3.081e+05   7.64e+04     -4.033      0.000   -4.58e+05   -1.58e+05
bedroom_bins_4                                4.241e+05   9.21e+04      4.602      0.000    2.43e+05    6.05e+05
yearBuilt_bin_1980s+                          3.783e+05   4.61e+04      8.210      0.000    2.88e+05    4.69e+05
resoFacts.subdivisionName_Academy House      -3.834e+04   2.01e+05     -0.190      0.849   -4.35e+05    3.58e+05
resoFacts.subdivisionName_Art Museum          2.843e+05   1.43e+05      1.983      0.048    2373.707    5.66e+05
resoFacts.subdivisionName_Art Museum (fairmo -6.213e+04   1.43e+05     -0.434      0.664   -3.43e+05    2.19e+05
resoFacts.subdivisionName_Art Museum (spring -1.049e+05   2.41e+05     -0.436      0.663   -5.78e+05    3.68e+05
resoFacts.subdivisionName_Art Museum Area    -1.108e+05   1.56e+05     -0.711      0.477   -4.17e+05    1.96e+05
resoFacts.subdivisionName_Avenue Of The Arts  3.059e+04   9.56e+04      0.320      0.749   -1.57e+05    2.18e+05
resoFacts.subdivisionName_Bella Vista         1.957e+05   3.38e+05      0.579      0.563   -4.69e+05    8.61e+05
resoFacts.subdivisionName_Center City         -1.43e+05   9.26e+04     -1.544      0.123   -3.25e+05    3.91e+04
resoFacts.subdivisionName_Chinatown            1.86e+04   1.48e+05      0.126      0.900   -2.72e+05    3.09e+05
resoFacts.subdivisionName_East Falls          4.823e+05   3.54e+05      1.363      0.174   -2.13e+05    1.18e+06
resoFacts.subdivisionName_Fishtown            2.095e+05   1.41e+05      1.486      0.138   -6.77e+04    4.87e+05
resoFacts.subdivisionName_Graduate Hospital  -1.425e+04   2.41e+05     -0.059      0.953   -4.87e+05    4.59e+05
resoFacts.subdivisionName_Logan Square       -1.116e+04   9.41e+04     -0.119      0.906   -1.96e+05    1.74e+05
resoFacts.subdivisionName_Northern Liberties -1.249e+05   7.98e+04     -1.565      0.118   -2.82e+05     3.2e+04
resoFacts.subdivisionName_Old City           -7.634e+04   8.73e+04     -0.874      0.382   -2.48e+05    9.53e+04
resoFacts.subdivisionName_Olde City            2.29e+04   1.98e+05      0.115      0.908   -3.67e+05    4.13e+05
resoFacts.subdivisionName_Penns Landing      -4.088e+05   3.36e+05     -1.218      0.224   -1.07e+06    2.51e+05
resoFacts.subdivisionName_Phila (south)       1.731e+05   3.38e+05      0.513      0.609   -4.91e+05    8.37e+05
resoFacts.subdivisionName_Philadelphia       -1.692e-12   1.13e-10     -0.015      0.988   -2.24e-10    2.21e-10
resoFacts.subdivisionName_Point Breeze         2.94e+04    2.4e+05      0.122      0.903   -4.43e+05    5.02e+05
resoFacts.subdivisionName_Queen Village        3.16e+04   1.54e+05      0.205      0.837   -2.71e+05    3.34e+05
resoFacts.subdivisionName_Rittenhouse Square  1.231e+05   6.99e+04      1.762      0.079   -1.43e+04     2.6e+05
resoFacts.subdivisionName_Society Hill       -2.275e+05   1.08e+05     -2.096      0.037   -4.41e+05   -1.41e+04
resoFacts.subdivisionName_Spring Gdn          2.652e+04   3.37e+05      0.079      0.937   -6.37e+05     6.9e+05
resoFacts.subdivisionName_Wash Sq West        2.583e+05   2.01e+05      1.283      0.200   -1.38e+05    6.54e+05
resoFacts.subdivisionName_Washington Sq      -1.541e+05   1.25e+05     -1.230      0.219      -4e+05    9.22e+04
resoFacts.subdivisionName_Washington Sq West -1.483e+05   1.22e+05     -1.215      0.225   -3.88e+05    9.16e+04
==============================================================================
Omnibus:                      197.775   Durbin-Watson:                   2.053
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1871.900
Skew:                           1.854   Prob(JB):                         0.00
Kurtosis:                      12.872   Cond. No.                     1.23e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.22e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [10]:
y_pred = linearmodel1.predict(add_constant(x_test))

In [11]:
#MAE
mean_absolute_error(y_test, y_pred)

246258.84345234284

In [12]:
#MAPE
from sklearn.metrics import mean_absolute_percentage_error

mean_absolute_percentage_error(y_test, y_pred)

0.4409065931824701

In [13]:
#RMSE
rmse = mean_squared_error(y_test, y_pred, squared=False)
rmse

377059.2944189597

In [14]:
#Plot test errors by features

In [15]:
y_test=y_test.reset_index()

In [16]:
y_test

     index    price
0      173    90000
1      274   450000
2      491  2554735
3       72   595000
4      452  1750000
..     ...      ...
97     412   492000
98     436   215000
99     411   345000
100     86   615000
101     75   355000

[102 rows x 2 columns]

In [17]:
y_pred=y_pred.reset_index()

In [18]:
y_pred

     index             0
0      173  1.288343e+05
1      274  1.660261e+05
2      491  1.606303e+06
3       72  4.727728e+05
4      452  1.845338e+06
..     ...           ...
97     412  5.126395e+05
98     436  2.430089e+05
99     411  3.656242e+05
100     86  7.527798e+05
101     75  5.059173e+05

[102 rows x 2 columns]

In [19]:
x_test=x_test.reset_index()

In [20]:
df2 = pd.merge(pd.merge(x_test,y_test,on='index'),y_pred,on='index')

In [21]:
df2['error']=abs(df2['price']-df2[0]).round()

In [22]:
df2['error']

0       38834.0
1      283974.0
2      948432.0
3      122227.0
4       95338.0
         ...
97      20640.0
98      28009.0
99      20624.0
100    137780.0
101    150917.0
Name: error, Length: 102, dtype: float64

In [23]:
#sort absolute value of error descending
pd.set_option('display.max_columns', None)
df2=df2.sort_values(by=['error'],ascending=False)

In [24]:
#Philadelphia Undervalued Properties - less than 325k- evaluate errors (price drop of first error to $320k)
df2[(df2.price<=325000) & (df2.price<df2[0])].sort_values(by=['error'],ascending=False)

,index,livingAreaValue,bathrooms,bedrooms,monthlyHoaFee,walkScore.walkscore,bathroom_bins_1,bathroom_bins_2,bedroom_bins_1,bedroom_bins_2,bedroom_bins_3,bedroom_bins_4,yearBuilt_bin_1980s+,resoFacts.subdivisionName_Academy House,resoFacts.subdivisionName_Art Museum,resoFacts.subdivisionName_Art Museum (fairmo,resoFacts.subdivisionName_Art Museum (spring,resoFacts.subdivisionName_Art Museum Area,resoFacts.subdivisionName_Avenue Of The Arts,resoFacts.subdivisionName_Bella Vista,resoFacts.subdivisionName_Center City,resoFacts.subdivisionName_Chinatown,resoFacts.subdivisionName_East Falls,resoFacts.subdivisionName_Fishtown,resoFacts.subdivisionName_Graduate Hospital,resoFacts.subdivisionName_Logan Square,resoFacts.subdivisionName_Northern Liberties,resoFacts.subdivisionName_Old City,resoFacts.subdivisionName_Olde City,resoFacts.subdivisionName_Penns Landing,resoFacts.subdivisionName_Phila (south),resoFacts.subdivisionName_Philadelphia,resoFacts.subdivisionName_Point Breeze,resoFacts.subdivisionName_Queen Village,resoFacts.subdivisionName_Rittenhouse Square,resoFacts.subdivisionName_Society Hill,resoFacts.subdivisionName_Spring Gdn,resoFacts.subdivisionName_Wash Sq West,resoFacts.subdivisionName_Washington Sq,resoFacts.subdivisionName_Washington Sq West,price,0,error
35,153,1769,2,3,322,91,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,330000,800524.525962,470525.0
38,208,880,1,1,613,99,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,300000,556685.162173,256685.0
13,78,889,1,2,689,99,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,268500,498899.103640,230399.0
10,218,435,1,0,336,91,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,119000,291720.603536,172721.0
80,69,1010,1,1,274,93,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,269000,428867.271616,159867.0
60,63,1867,2,3,1168,48,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,315000,453689.712242,138690.0
84,312,678,1,1,504,99,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,175000,300668.687896,125669.0
28,210,1196,1,2,783,91,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,274900,396177.643086,121278.0
53,101,1001,2,1,923,99,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,319900,389365.325556,69465.0
37,336,444,1,0,379,99,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,154900,222346.310386,67446.0
88,93,753,1,1,309,93,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,305000,368817.305717,63817.0
30,172,1072,1,1,345,91,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,329000,390199.619975,61200.0
58,84,343,1,0,463,100,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,84500,138831.529575,54332.0
95,132,849,1,1,675,99,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,249000,303217.938178,54218.0
0,173,319,1,0,460,100,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,90000,128834.273326,38834.0
98,436,538,1,1,488,99,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,215000,243008.884742,28009.0
89,137,660,1,1,395,99,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,250000,274069.429706,24069.0

In [25]:
#Philadelphia Overvalued Properties - less than 325k- evaluate errors
df2[(df2.price<=325000) & (df2.price>df2[0])].sort_values(by=['error'],ascending=False)

,index,livingAreaValue,bathrooms,bedrooms,monthlyHoaFee,walkScore.walkscore,bathroom_bins_1,bathroom_bins_2,bedroom_bins_1,bedroom_bins_2,bedroom_bins_3,bedroom_bins_4,yearBuilt_bin_1980s+,resoFacts.subdivisionName_Academy House,resoFacts.subdivisionName_Art Museum,resoFacts.subdivisionName_Art Museum (fairmo,resoFacts.subdivisionName_Art Museum (spring,resoFacts.subdivisionName_Art Museum Area,resoFacts.subdivisionName_Avenue Of The Arts,resoFacts.subdivisionName_Bella Vista,resoFacts.subdivisionName_Center City,resoFacts.subdivisionName_Chinatown,resoFacts.subdivisionName_East Falls,resoFacts.subdivisionName_Fishtown,resoFacts.subdivisionName_Graduate Hospital,resoFacts.subdivisionName_Logan Square,resoFacts.subdivisionName_Northern Liberties,resoFacts.subdivisionName_Old City,resoFacts.subdivisionName_Olde City,resoFacts.subdivisionName_Penns Landing,resoFacts.subdivisionName_Phila (south),resoFacts.subdivisionName_Philadelphia,resoFacts.subdivisionName_Point Breeze,resoFacts.subdivisionName_Queen Village,resoFacts.subdivisionName_Rittenhouse Square,resoFacts.subdivisionName_Society Hill,resoFacts.subdivisionName_Spring Gdn,resoFacts.subdivisionName_Wash Sq West,resoFacts.subdivisionName_Washington Sq,resoFacts.subdivisionName_Washington Sq West,price,0,error
67,82,600,1,0,0,99,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,216900,-237917.507172,454818.0
16,124,924,2,1,298,99,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,289500,11197.494116,278303.0
14,323,567,1,1,0,99,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,204900,-64921.211884,269821.0
20,271,631,1,1,345,91,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,160000,-103779.488242,263779.0
49,0,943,2,2,148,96,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,275000,43312.619861,231687.0
76,104,509,1,1,175,97,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,189900,-15830.229017,205730.0
11,9,1251,2,2,758,54,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,220000,55970.606071,164029.0
70,46,1037,1,2,259,35,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,169000,61141.955220,107858.0
54,268,567,1,1,443,99,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,210000,110664.890178,99335.0
63,18,531,1,1,387,100,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,265000,204921.254293,60079.0
36,2,746,1,1,253,99,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,275000,215242.428484,59758.0
96,371,437,1,0,379,99,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,149900,96704.755264,53195.0
75,398,840,1,1,0,88,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,314900,297593.708956,17306.0
90,176,566,1,0,374,100,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,189990,180490.548770,9499.0